* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.user-container{
width: 100%;
height: 100%;
display: flex;
align-items: center;
background-image:linear-gradient(to right bottom, #97403a, #b65738, #d07430, #e29424, #ebb812);
}  

.create-user{
height: auto;
width: 100%;
font-family: 'Segoe UI', Tahoma;
display: flex;
flex-direction: column;
gap: 2em;
align-items: center;
text-align: center;
}

.create-user > h2 {
width: 80%;
padding-top: 1em;
text-align: center;
}

.form-container{
height: auto;
width: 80%;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5em;
}

.form-group > input {
    font-family: 'Segoe UI', Tahoma;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 10px;
    border: #97403a 1px solid;
}

.form-group > label {
    font-family: 'Segoe UI', Tahoma;
}

.send {
    font-family: 'Segoe UI', Tahoma;
    background-color:#d07430;
    color: #97403a;
    border: #97403a 1px solid;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    box-shadow: 2px 3px 0px 2px;
    cursor: pointer;
  }
  .send:hover {
    color: #d07430;
    background-color: #97403a;
    border: #97403a 1px solid;
  }

  .form-container > span:hover {
    cursor: pointer;
    color: #97403a;
  }