.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 0.05em;
  background:linear-gradient(to right top, #97403a, #b65738, #d07430, #e29424, #ebb812);
  color:#97403a;
}

.title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title > h1 {
  font-size: 1,5em;
  font-weight: 800;
}
.title > h2 {
  font-size: 1em;
  font-weight: 600;
}
.picture {
  width: 20%;
  border: #97403a solid 1px;
  background: #97403a;
  border-radius: 100px;
}

.picture > img {
  width: 100%;
  object-fit: fill;
}

.user-picture:hover{
cursor: pointer;
}

.user-picture:hover{
cursor: pointer;
}