.navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.title {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title > h2 {
  font-size: 1em;
}
